<!DOCTYPE html>
<html lang = "en">
    {{ partial "head.html" . }}
    <body>
        {{- partial "navigation.html" . -}}
        <div class="flex-1 mx-4 md:mx-12 lg:mx-24 mt-2 sm:mt-2 pb-20">
        	{{- partial "homepage_teaser.html" . -}}
        </div>
        <div class="bg-gray-100 w-full pt-20 pb-20">
        	{{- partial "homepage_competences.html" . -}}
		</div>
		<div class="flex-1 mx-4 md:mx-12 lg:mx-24 mt-2 sm:mt-2 pt-20 pb-20">
        	{{- partial "homepage_timeline.html" . -}}
		</div>
		<div class="flex-1 mx-4 md:mx-20 lg:mx-40 mt-2 sm:mt-2 pb-15">
			{{- partial "newsletter_form.html" . -}}
		</div>
        {{- partial "footer.html" . -}}
        <div class="fixed bottom-0 left-0 w-full">
        {{- partial "cookie-consent.html" . -}}
        </div>
    </body>
</html>
