<!--
<script src="https://cdn.jsdelivr.net/gh/francescomugnai/just-good-cookies@0.9.7/dist/justgoodcookies.min.js"></script>
<script>
justgoodcookies.init({
  autoMode: true,
  autoCategories: {
    google: ['Google', 'analytics']
  },
  locale: "en", // ISO 639-1 language code
  layout: "style1",
  privacyLink: "https://www.fabianengeln.com/privacypolicy/",
  cookies: {
    necessary: { // this is mandatory
        title: "Google Analytics",
        description: "Analytical cookies are used to understand how visitors interact with the website. We mainly use Google Analytics to track information about anonymised user (e.g. country of origin, language, browser) information and general site statistics.",
    },
  },
  activate: {
  	GoogleAnalytics: {
          id: 'G-LE1B0RZQC8',
          anonymized: true,
          dataJgcTag:"necessary",
          dataJgcService:"Google Analytics",
          ad_storage: false,
          analytics_storage: false
  	}
  },
  banner: {
    shortText: true, //  this option is used to shorten the text of the banner
},
  text: {
    acceptSelectedText: '', // Accept selected cookies
    acceptText: '', // Accept button
    bannerLinkLabel: '', // Privacy policy link label
    descriptionText: 'I use cookies to improve the user experience of my site and analyse the traffic. By clicking “Accept,” you consent to the use of Google Analytics tracking. You may change your settings at any time by visiting the Cookie preferences.', // Banner description
    panelTitle: '', // Panel title
    preferencesText: 'Settings', // Preferences link
    rejectText: '', //  Reject button
    saveButton: '', // Save button
    saveAllButton: '', // Save and accept all cookies
    servicesTag: '' // Services tag label
},
style: {
  accept: 'text-white bg-blue-600 hover:bg-blue-700 transition-all duration-300 ring-1 ring-green-200 px-2 py-0.5 text-xs uppercase font-bold items-center rounded my-2 border-none', // Accept button
  reject: 'text-white bg-gray-400 hover:bg-gray-500 transition-all duration-300 ring-1 ring-green-200 px-2 py-0.5 text-xs uppercase font-bold items-center rounded my-2 border-none', // Reject button
  saveAllButton: 'px-3 py-1 uppercase font-bold tracking-wide text-xs z-index-10 relative rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 cursor-pointer bg-blue-600 hover:bg-blue-700 text-white ring-1 ring-blue-600 border', // Save and accept all button
  saveButton: 'text-white'
}
});
</script>
-->