<div class="max-w-7xl mx-auto grid md:w-3/4 lg:w-full md:grid-cols-4 lg:grid-cols-4 font-light font-serif antialiased mb-4">
      <div class="p-5 w-80">
         <!-- <div class="text-xs uppercase font-medium">Blog articles</div> -->
         <div class="mt-2">Anna Engeln</div>
         <div>Elsaßstr. 42a</div>
         <div>45259 Essen / Germany</div>
         <div>+49 151 5946 8484</div>
         <div class="underline"><a href="mailto:anni.engeln@gmail.com">anni.engeln@gmail.com</a></div>
      </div>
      <div class="p-5 w-80">
         <div class="mt-2"># Content Creation</div>
         <div># Social Media Marketing</div>
         <div># Video / Foto</div>
         <div># Design</div>
      </div>
      <div class="p-5 w-80">
         <div class="mt-2 underline"><a href="https://www.behance.net/annabelitskaya" target="_blank">Behance</a></div>
         <div class="underline"><a href="https://www.instagram.com/frau_engeln/" target="_blank">Instagram</a></div>
      </div>
      <div class="p-5 w-80">
         <div class="mt-2">© Copyright {{ now.Format "2006" }}. By Anna Engeln.</div>
      </div>
</div>