<div class="bg-gray-800">
   <div class="max-w-6xl m-auto text-gray-400 flex flex-wrap justify-left">
      <div class="p-5 w-80">
         <div class="text-xs uppercase text-gray-500 font-medium">Blog articles</div>
        {{ range first 1 (where .Site.RegularPages.ByDate.Reverse "Type" "blog")  }}
      	<a class="my-3 block text-gray-400 hover:text-gray-300" href="{{ .Permalink }}">{{ .Params.title }}<span class="text-blue-500 text-xs p-1"> Latest</span></a>
   		 {{ end }}
         {{ range after 1 (where .Site.RegularPages.ByDate.Reverse "Type" "blog") | first 1 }}
      	<a class="my-3 block text-gray-400 hover:text-gray-300" href="{{ .Permalink }}">{{ .Params.title }}</a>
   		 {{ end }}
      </div>
      <div class="p-5 w-48">
         <div class="text-xs uppercase text-gray-500 font-medium">Contact</div>
         <a href="https://www.google.de/maps/place/Berlin/@52.5069296,13.143866,10z/data=!3m1!4b1!4m5!3m4!1s0x47a84e373f035901:0x42120465b5e3b70!8m2!3d52.5200066!4d13.404954" class="my-3 block text-gray-400 hover:text-gray-300" target=”_blank”>Berlin / Germany</a><a class="my-3 block text-gray-400 hover:text-gray-300" href="/contact">Contact form <span class="text-teal-600 text-xs p-1"></span></a>
      </div>
      <!--
      <div class="p-5 w-48">
         <div class="text-xs uppercase text-gray-500 font-medium">Info</div>
         <a href="/privacy-policy" class="my-3 block text-gray-400 hover:text-gray-300">Privacy policy</a>
      </div>
      -->
   </div>
</div>

<div class="bg-gray-800 pt-2">
   <div class="flex pb-5 px-3 m-auto pt-5 border-t border-gray-400 text-gray-500 text-sm flex-col md:flex-row max-w-6xl">
      <div class="mt-2 text-gray-400">© Copyright {{ now.Format "2006" }}. All Rights Reserved.</div>
      <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
      </div>
   </div>
</div>