<div class="py-4 font-light font-serif antialiased">  
    <div class="container m-auto px-6 md:px-12 xl:px-0">
        <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
            <div class="rounded-lg overflow-hidden shadow-lg">
              <img class="w-full" src="cosy_roots.png" alt="Sunset in the mountains">
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Cosy Roots</div>
                <p class="text-gray-700 text-base">
                  Bei Cosy Roots bin ich auf kontinuierlicher Basis für die Erstellung von Marketing-Inhalten zuständig. Einer meiner Tätigkeiten ist die Produktion Videos und für Instagram Reels und Stories. Zusätzlich kreiere ich Medieninhalte wie Fotos für Newsletter und unterstütze bei der Erstellung von Kampagnen mit Klaviyo.
                </p>
              </div>
            </div>
            <div class="rounded-lg overflow-hidden shadow-lg">
              <img class="w-full" src="stihl.png" alt="Sunset in the mountains">
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Stihl Timbersports</div>
                <p class="text-gray-700 text-base">
                  Bei Stihl Timbersports habe ich bei der Konzeption und Bearbeitung von Videos zur Generierung von Instagram Reels für STIHL Timbersports unterstützt. Dabei ging es auch um die Koordination und Anpassungen basierend auf spezifischen Kundenanforderungen im Kettensägensport.
                </p>
              </div>
            </div>
            <div class="ounded-lg overflow-hidden shadow-lg">
              <img class="w-full" src="oniks.png" alt="Sunset in the mountains">
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">Oniks Apartments</div>
                <p class="text-gray-700 text-base">
                  Bei Oniks Apartments Antalya war ich zuständig für die Entwicklung eines Content-Konzepts für Instagram inkl. Fotobearbeitung und das Verfassen von Texten in mehreren Sprachen.
                </p>
              </div>
            </div>
        </div>
    </div>
</div>

