<!-- component -->
<div class="">
  <section class="w-full bg-cover bg-center py-36">
    <div class="container mx-auto text-center px-10 md:px-10 lg:px-48">
      <!--<h1 class="text-5xl text-red-600">Anna Engeln</h1>
      <h1 class="text-5xl mb-3">Content Creator</h1>-->
      <img src="logo.png" class="mx-auto mb-20 object-scale-down w-60"><img>
      <p class="text-lg font-light font-serif mb-14 antialiased leading-10">Ich bin eine hands-on Content Creator und Managerin, die sich auf wachsende E-Commerce Firmen spezialisiert hat. Ob es darum geht, hochkonvertierenden Content für Social Media zu erstellen, oder eine Gesamtstrategie zu entwerfen. Ich helfe Ihnen Ihre Marketingziele zu erreichen.</p>
    </div>
  </section>
</div>